.weather-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weather-details {
  align-self:center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

@media (max-width: 1040px) {
  .weather-details {
    grid-template-columns: 1fr;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
