.details-container {
  display: flex;
  justify-content: center;
  max-width: 400px;
}

mat-list {
  width: 100%;
  max-width: 1200px;
}

.forecast-item {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

@media (max-width: 1040px) {
  .forecast-item {
    flex-direction: column;
  }
}